@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body {
  background-color: hsl(275, 30%, 11%);
  display: flex;
  
}
h1 {
  color: hsl(10, 50%, 90%);
  font-size: 60px;
  font-family: 'Dancing Script', 'sans serif';
}

p {
  color: hsl(235, 63%, 40%);
  font-family: 'Honk', 'sans serif';
  font-size: 25px;
}
.hello {
  color: hsl(260, 30%, 60%);
  font-size: 30px;
  line-height: 1.6;
}
figcaption {
  color: hsl(235, 63%, 40%);
}
